.primary-container {
  display: flex;
  padding: 10px;
  /* font-size: 1.5rem; */
}
.name-box {
  border: 1px solid #000;
  background-color: grey;
  /* border-radius: 7px; */
  width: 250px;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.image-p {
  border: 1px solid #000;
  /* border-radius: 7px; */
}

.second-container {
  cursor: context-menu;
  display: flex;
  justify-content: space-around;
  border: 1px solid #000;
  align-items: center;
}
.detial-buttoom {
  background-color: "unset";
  font-size: 20px;
}
